<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Arroz à grega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="padding: 2%; font-weight: bold;">INGREDIENTES</h2>
  <p style="padding: 2%;">nfioernfioew nfioew mfioewmfioewfmio wnfioewn ioefnewionfewio fw</p>
  <h2 style="padding: 2%; font-weight: bold;">MODO DE PREPARO</h2>
  <p style="padding: 2%;">ofienfioew fioewnifo n fioewnfnfio wenfnweiof ion fwenf ofewnfc oiewn</p>
</ion-content>
